# Версии и метаданные
.git
.gitignore
.dockerignore

# Зависимости при сборке
dist
node_modules
coverage

# Окружающая среда
.env

# Файлы, не требующиеся в сборке
Dockerfile
README.md
eslint.config.mjs
